<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% capture title %}
    {%- if page.share-title -%}
      {{ page.share-title | strip_html | xml_escape }}
    {%- elsif page.title -%}
      {{ page.title | strip_html | xml_escape  }}
    {%- else -%}
      {{ site.title | strip_html | xml_escape }}
    {%- endif -%}
  {% endcapture %}
  <title>{{ title }}</title>

  <style type="text/css">
    body {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 0.9375em;
      background-color: white;
      line-height: 1.3em;
    }
    @media (prefers-color-scheme: dark) {
      body {
        background-color: #2d2d2d;
        color: #dfdfdf;
      }
      a {
        color: #1b89ef;
      }
    }
    #wrapper {
      width: 1000px;
      margin: 0 auto;
    }
    img {
      width: 500px;
    }
    footer {
      text-align: center;
      margin-top: 40px;
    }
  </style>
</head>
