<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col my-4">
          <h1 id="logo">
            <a href="/">{{ site.title }}</a>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2  text-right">
          <p>By Collin Allen</p>
          <ul class="list-unstyled">
            <li class="list-unstyled-item">
              <a href="/archive/">Archive</a>
            </li>
            <li class="list-unstyled-item">
              <a href="https://twitter.com/command_tab">Twitter</a>
            </li>
            <li class="list-unstyled-item">
              <a href="https://github.com/command-tab/">GitHub</a>
            </li>
            <li class="list-unstyled-item">
              <a href="/contact/">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col">
          {{ content }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% include footer.html %}
        </div>
      </div>
    </div>
    <script data-goatcounter="https://command-tab.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <a style="display: none;" rel="me" href="https://hachyderm.io/@command_tab">Mastodon</a>
  </body>
</html>
